body {
	font-family: 'Open Sans Condensed', sans-serif;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	overflow-x: auto;
	color: rgb(234, 234, 234);
	background-image:url('../images/main_bg.jpg');
}
p {

	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

/*.full-screen-background-image {
	position: fixed;
	width: 100%;
	background-image:url('../images/main_bg.jpg');
	background-size: cover;
	height: 100%;
	background-position: 50% 0%;
	background-repeat: no-repeat no-repeat;
}*/
.main {
	width: 980px;
	min-height: 1015px;
	margin: auto;
	position: relative;
}
.left {
	width: 290px;
	min-height: 730px;
	background: #5DA505;
	position: absolute;
	border: 1px solid #999999;
}
.left .logo {
	width: 100%;
	height: 130px;
}
.left .logo .logo_birdsite {
	width: 100%;
	height: 128px;
}
.left .logo .logo_birdsite img {
	width: 115px;
	height: 85px;
	margin: 25px auto auto auto;
}
.left .logo .logo_birdsite .title {
	font-size: 60px;
}
.left .logo .line1 {
	width: 80%;
	margin: auto;
	border-bottom: 1px solid #211D1E;
}
.richTextContainer {
	width: 230px;
	text-align: justify;
	margin: 20px auto auto auto;
}

.richTextContainer .menu_ {
	margin: 0;
	padding: 0;
	width: 100%;
}
.richTextContainer .menu_ li, .richTextContainer .menu_ li a {
	color: #333333;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}
.richTextContainer .menu_ li a:hover {
	color: #ffffff;
}
.richTextContainer .menu_ li {
	margin-left: 30px;
	height: 30px;
}
.alignCenter {
	text-align: center;
	line-height: 15px;
}

.font_2, .font_6 {
	font-size: 23px;
	line-height: 25px;
	font-weight: bold;
}
.font_8 {
	font-size: 18px;
	word-spacing: 0px;
}
.alignJustify {
	line-height: 16px;
}

.left .hotline {
	width: 230px;
	height: 300px;
	padding: 5px;
	margin: 52px auto auto auto;
	min-height: 252px;
	border: 1px solid #333333;
}
.left .hotline .richTextContainer {
	margin-top: 20px;
}
.hotline .line2 {
	width: 80%;
	border-bottom: 1px solid #333333;
	margin: 25px auto 25px auto;
}
.left .link {
	width: 40%;
	margin: 10px auto auto auto;
}
.left .line3 {
	width: 80%;
	border-bottom: 1px solid #333333;
	margin: 0 auto 5px auto;
}
.left .address {
	width: 100%;
	height: 100px;
}
.left .address .address_info_image {
	width: 78%;
	margin: auto;
}

.left .address .address_info_image .address_info {
	width: 100%;
	height: 48px;
	float: left;
}
.left .address .address_info_image .address_image {
	float: left;
	margin-top: 50px;
}
.right {
	visibility: visible;
	left: 340px;
	width: 600px;
	min-height: 800px;
	position: absolute;
	/*border: 1px solid #333333;*/
}

.top_menu {
	width: 100%;
	height: 70px;
	font-size: 14px;
}
.line4 {
	width: 100%;
	border-bottom: 1px solid #333333;
}
.top_menu ul.menu {
	width: 100%;
	height: 42px;
	margin: 0;
	padding: 0;
	list-style: none;
	margin: 58px 0 0 0;
	background: #211D1E;
}
.top_menu ul.menu li {
	float: left;
	width: 60px;
	height: 42px;
	text-align: center;
}
.top_menu ul.menu li a {
	font-size: 18px;
	line-height: 40px;
	color: #ffffff;
}
.top_menu ul.menu li a:hover {
	color: #8A2BE2;
}
.top_menu ul.menu li.home {
	width: 110px;
}
/*.top_menu ul.menu li.home a{
 color:#000000;
 }*/
.top_menu ul.menu li.about {
	width: 130px;
}
.top_menu ul.menu li.product {
	width: 130px;
}
.top_menu ul.menu li.product ul {
	margin: 0 0 0 -10px;
	padding: 10px;
	width: 150px;
	background: #333333;
	position: absolute;
	display: none;
	z-index: 11;
	list-style: none;
}
.top_menu ul.menu li.product ul li {
	width: 100%;
	height: 25px;
	line-height: 20px;
}
.top_menu ul.menu li.info {
	width: 110px;
}
.top_menu ul.menu li a {
	text-decoration: none;
	color: #b2b1b1;
}
.right .content {
	margin: 10px 0 0 0;
}
.right .content .banner {
	width: 100%;
	height: 185px;
	-webkit-box-shadow: 0px 1px 1px 1px #999999;
	box-shadow: 0px 1px 1px 1px #999999;
}
.right .content .banner img {
	width: 99.88%;
	height: 99.88%;
}
.right .content .content_product {
	height: 450px;
	width: 100%;
	margin: 10px 0 0 0;
}
.right .content .introduction {
	min-height: 450px;
	text-align: justify;
	width: 100%;
	margin: 10px 0 0 0;
	background: #FFFFFF;
	border: 1px solid #999999;
	color: #333333;
	-webkit-box-shadow: 0px 1px 1px 1px #dddddd;
	box-shadow: 0px 1px 1px 1px #dddddd;
}
.right .content .introduction h2 {
	line-height: 10px;
}
.right .content .introduction h3 {
	line-height: 8px;
}
.right .content .introduction .content {
	width: 95%;
	margin: auto;
}
.right .content .introduction .content .title {
	text-align: center;
	line-height: 40px;
}
.right .content .introduction .content .title-child {
	text-align: center;
	color: red;
	font-weight: bold;
}
.right .content .introduction .content p {
	font-size: 20px;
}
.right .content .introduction .content p img {
	width: 100%;
}
.right .content .introduction .content p span {
	font-weight: bold;
}
.right .content .content_product .item_product {
	width: 192px;
	min-height: 180px;
	float: left;
	margin: 0 0 15px 12px;
	-webkit-box-shadow: 0px 1px 1px 1px #999999;
	box-shadow: 0px 1px 1px 1px #999999;
	border: dashed 0px #000000;
	background: #ffffff;
}
.right .content .content_product .item_product .info {
	height: 30px;
	width: 100%;
}
.right .content .content_product .item_product img {
	border: dashed 0px #000000;
	-moz-border-radius: 5px;
	width: 188px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 2px 0 0 2px;
}

/*Progress Banner*/
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}

/*CSS FOR About*/
.right .content .about_info {
	width: 100%;
	min-height: 610px;
	background: #1e1e1e;
}
.right .content .about_info .text_about {
	width: 90%;
	margin: auto auto auto auto;
	text-align: justify;
}
.right .content .about_img {
	width: 90%;
	margin: auto;
	height: 100px;
}
.right .content .about_img .about_item_img {
	width:   :175px;
	height: 95px;
	float: left;
	margin: 0 5px 0 0;
}
.right .content .about_img .about_item_img img {
	width: 175px;
	height: 95px;
}

/*CSS INFO*/
.right .content .info_ {
	width: 100%;
	min-height: 610px;
	background: #1e1e1e;
}
.right .content .info_ .text_info {
	width: 70%;
	text-align: justify;
	margin: auto auto auto 30px;
}
.right .content .info_ .info_img {
	min-height: 200px;
	width: 454px;
	margin: 20px 0 0 30px;
}
.right .content .info_ .text_info_footer {
	width: 90%;
	margin: auto;
	height: 220px;
}
.right .content .info_ .text_info_footer .text_info_footer_left, .right .content .info_ .text_info_footer .text_info_footer_right {
	float: left;
	width: 44%;
}
.right .content .info_ .text_info_footer .text_info_footer_right {
	margin-left: 60px;
}
.line6 {
	width: 90%;
	margin: 10px auto 10px auto;
	border-bottom: 1px solid #333333;
}

/*CSS CONTACT*/
.content .contact_info {
	width: 100%;
	min-height: 610px;
	background: #ffffff;
	color: #333333;
	border: 1px solid #999999;
	-webkit-box-shadow: 0px 1px 1px 1px #dddddd;
	box-shadow: 0px 1px 1px 1px #dddddd;
}
.content .contact_info .contact_maps {
	width: 90%;
	margin: auto;
	min-height: 220px;
}
.content .contact_info .contact_maps iframe {
	width: 100%;
}
.content .contact_info .contact_maps img {
	width: 540px;
	height: 220px;
}
.content .contact_info .text_contact {
	width: 86%;
	margin: 10px auto auto auto;
	text-align: justify;
	font-size: 10px;
}
.content .form_contact {
	width: 90%;
	margin: 30px auto auto auto;
}
.content .form_contact form input {
	border-radius: 0px;
	font: normal normal normal 12px/1.4em 'Open Sans', sans-serif;
	color: rgb(234, 234, 234);
	padding: 5px 0px 5px 5px;
	margin: 0px 0px 5px;
	border: 1px solid rgb(51, 51, 51);
	border-image: initial;
	width: 99%;
}
.content .form_contact form textarea {
	border-radius: 0px;
	font: normal normal normal 12px/1.4em 'Open Sans', sans-serif;
	color: rgb(234, 234, 234);
	padding: 5px 0px 5px 5px;
	margin: 0px 0px 5px;
	border: 1px solid rgb(51, 51, 51);
	border-image: initial;
	width: 99%;
	height: 130px;
}
.content .form_contact form .btn_submit {
	width: 45px;
	float: right;
	padding: 5px;
	background: #333333
}
.content .form_contact form .btn_submit:hover {
	cursor: pointer;
}
/*CSS PRODUCT*/
/*[Duy] Start 01-22-2013 CSS For Fortugal product*/

.product_main {
	width: 100%;
	min-height: 500px;
	position: absolute;
	top: 129px;
}
.product_main .portugal {
	width: 100%;
	min-height: 500px;
	background: #1e1e1e;
	display: none;
}
.product_main .portugal .title {
	width: 94%;
	margin: auto;
}
.product_main .portugal .portugal_img {
	width: 94%;
	height: 135px;
	margin: auto;
}
.product_main .portugal .portugal_img .portugal_item_img {
	min-width: 180px;
	height: 135px;
	float: left;
	margin: 20px 0 0 55px;
}
.product_main .portugal .portugal_img img {
	min-width: 100%;
	height: 135px;
}
.info_portugal {
	margin: 10px 0 0 5px;
}
.info_portugal span {
	line-height: 16px;
}

/*END*/

/*[Duy] Start 01-22-2013 CSS For Fortugal product*/
.product_main .Knife_spoon_fork {
	width: 100%;
	min-height: 500px;
	background: #1e1e1e;
	display: none;
}
.product_main .Knife_spoon_fork .title {
	width: 94%;
	margin: auto;
}
.product_main .Knife_spoon_fork .Knife_spoon_fork_img {
	width: 94%;
	height: 135px;
	margin: auto;
}
.product_main .Knife_spoon_fork .Knife_spoon_fork_img .Knife_spoon_fork_item_img {
	min-width: 135px;
	height: 120px;
	float: left;
	margin: 20px 0 0 55px;
}
.product_main .Knife_spoon_fork .Knife_spoon_fork_img img {
	min-width: 100%;
	height: 120px;
}
.info_Knife_spoon_fork {
	margin: 10px 0 0 5px;
}
.info_Knife_spoon_fork span {
	line-height: 16px;
}
/*END*/
/*[Duy] Start 01-22-2013 CSS For Fortugal product*/
.product_main .Living_cook {
	width: 100%;
	min-height: 900px;
	background: #1e1e1e;
	display: none;
}
.product_main .Living_cook .title {
	width: 94%;
	margin: auto;
}
.product_main .Living_cook .Living_cook_img {
	width: 94%;
	min-height: 200px;
	margin: auto;
}
.product_main .Living_cook .Living_cook_img .Living_cook_item_img {
	width: 325px;
	min-height: 140px;
	float: left;
	margin: 20px 0 0 120px;
}
.product_main .Living_cook .Living_cook_img img {
	min-width: 220px;
	height: 140px;
}
.info_Living_cook {
	margin: 10px 0 0 5px;
}
.info_Living_cook span {
	line-height: 16px;
}
/*END*/
.flash {
	width: 900px;
	height: 610px;
	margin: auto;
}
